.feature__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f5f4fa;
  border-radius: 4px;
  height: 120px;
  margin-bottom: 30px;
}
.feature__logo-icon {
  width: 70px;
  height: 70px;
}
.slogan {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.feature__desc {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

@media screen and (max-width: 767px) {
  .feature__item:not(:last-child) {
    margin-bottom: 30px;
  }
  .slogan {
    text-align: center;
  }
}
@media screen and (min-width: 768px) {
  .feature__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
  .feature__item {
    flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
    margin-top: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .feature {
    padding-bottom: 47px;
  }
  .feature__item {
    flex-basis: calc(100% / 4 - 30px);
  }
}
