/* .our-works {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
} */

.our-work {
  transition-property: box-shadow, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;

  &:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.our-work-img {
  display: flex;
  position: relative;
  overflow: hidden;
}

.our-work-img-overlay {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  padding: 77px 24px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  opacity: 0;
  background-color: rgba(33, 150, 243, 0.9);
  transition-property: transform, opacity;
  transform: translateY(100%);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  .our-work:hover & {
    opacity: 1;
    transform: translateY(0%);
  }
}

.our-work-content {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
}

.our-work-desc {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 768px) {
  .our-works {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-top: -15px;
  }

  .our-work {
    flex-basis: calc((100% - 60px) / 2);
    margin-left: 15px;
    margin-top: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .our-works {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }

  .our-work {
    flex-basis: calc((100% - 90px) / 3);
    margin-left: 30px;
    margin-top: 30px;
  }
  .our-work-img-overlay {
    padding: 63px 24px;
  }
}
