.hero__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
  }
}

.title {
  color: var(--title-color);
  font-size: 28px;
  line-height: 1.179;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 1200px) {
  .title {
    font-size: 36px;
    line-height: 1.167;
  }
}

.social-links-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.42px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.mail-form-footer-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
.our-team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.our-work-title {
  font-family: var(--main-font);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
}
